<div class="block max-w-xl p-6 bg-white border border-gray-200 rounded-lg shadow-sm mb-2">
  <span class="flex justify-between items-center"
    ><p class="font-medium text-lg">Liz Schafer</p>
    <p class="text-xs">2025.02.15 15:35</p></span
  >
  <p class="font-normal text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
</div>
