<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
<script>
  toastr.options = {
    "closeButton": true,
    "positionClass": "toast-top-center",
    "timeOut": "3000",
    "extendedTimeOut": "1000"
  };

  $(document).ready(function() {
    toastr.render();
  });
</script>

</body>
</html>