<%- include('header') -%>
<div class="flex items-center justify-center h-screen w-screen bg-blue-50">
  <div class=" flex items-center justify-center w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8">
    <%- include('form', { formAction: 'new', formData: formData }) -%>
  </div>
</div>
<%- include('footer') -%>