<div class="relative inline-flex items-center justify-center w-10 h-10 cursor-pointer overflow-hidden bg-gray-300 rounded-full" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start">
  <span class="font-medium text-gray-600">JD</span>
</div>
