<div class="flex w-full justify-end p-8">
  <%- include('user-icon', {small: true, name: userName}) %>
  <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44">
    <div class="px-4 py-3 text-sm text-gray-900">
      <div><%= userName %></div>
      <div class="font-medium truncate"><%= userEmail %></div>
    </div>
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="avatarButton">
      <li>
        <a href="/user" class="block px-4 py-2 hover:bg-gray-100">User settings</a>
      </li>
    </ul>
    <div class="py-1">
      <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
    </div>
  </div>
</div>