<div class="relative inline-flex items-center justify-center <%= small ? 'w-10 h-10' : 'w-15 h-15' %> cursor-pointer overflow-hidden bg-gray-300 rounded-full" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start">
  <span class="font-medium text-gray-600">
    <% if (typeof name !== 'undefined' && name) { %>
      <% if (name.split(' ').length > 1) { %>
        <%= name.split(' ')[0].charAt(0).toUpperCase() + name.split(' ')[1].charAt(0).toUpperCase() %>
      <% } else { %>
        <%= name.charAt(0).toUpperCase() %>
      <% } %>
    <% } else { %>
      U
    <% } %>
  </span>
</div>